body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-bar {
  /* border: 1px solid white; */
  width: 100vw;
  height: 7vh;
  background-color: rgb(18, 16, 27);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.nav-content-wrapper {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.nav-content-wrapper h1 {
  font-size: 1.2em;
  color: #00d8ff;
}
.nav-content-wrapper ul {
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav-content-wrapper div {
  width: 30vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero {
  width: 100vw;
  height: 55vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(39, 37, 51);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.hero h1 {
  font-size: 4em;
  font-weight: bold;
  color: #00d8ff;
  margin-bottom: 30px;
}

.hero p {
  color: white;
  font-size: 1.5em;
  margin-bottom: 30px;
}

#get-started {
  width: 10vw;
  height: 5vh;
  border: none;
  border-radius: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  background-color: #00d8ff;
}

#tutorial {
  width: 15vw;
  height: 5vh;
  border: none;
  background-color: rgb(39, 37, 51);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  color: #00d8ff;
}

.info {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: grey;
}
.info card {
  height: 35vh;
}

.info h3 {
  font-size: 1.4em;
  margin-bottom: 25px;
}

.info p {
  width: 25vw;
  color: black;
  line-height: 2em;
}
